body{
    background: #F2F1EB;
}

h1{
    font-family: 'Playfair Display', serif;
    color: #161A30;
    font-size:40px; 
}

h2{
    font-family: 'Playfair Display', serif;
    color: #161A30;
    font-size:30px; 
}

h3{
    font-family: 'Playfair Display', serif;
    color: #161A30;
    font-size:25px; 
}

p, strong{
    font-family: 'Afacad', sans-serif;
    font-size:large;
    color: #31304D;
}

ul li{
    font-family: 'Afacad', sans-serif;
    font-size:large;
}

ul li::marker{
    content:'🐈';
}

a{
    font-family: 'Afacad', sans-serif;
}